<section>
  <h2 class="visibility-hidden">Customer Reviews</h2>
  <div class="container">
    <div class="reviews">
      <picture class="reviews-foto">
        <source
          class="reviews-foto"
          srcset="
            ../src/images/client1-1x.png 1x,
            ../src/images/client1-2x.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          class="reviews-foto"
          src="./images/client1-1x.png"
          alt="happy client"
        />
      </picture>
    </div>
    <div class="reviews-area">
        
      <p class="reviews-text"><div class="reviews-lines"></div>
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
        
            
        </div>
      </p>
      
    </div>
  </div>
</section>
